body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(100, 100, 100);
}

div {text-align: center;}

#contenedor {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  max-height: 600px;
  overflow-y: auto;
}

#nick {
  width: 80px;
}

#objetivo {
  width: 80px;
}

#mensaje {
  width: 400px;
}

#chat {
  resize: none;
  width: 90%;
  height: 400px;
}